name: Upload dotnet package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x' # SDK Version to use.
          source-url: https://nuget.pkg.github.com/LuukLabs/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - run: dotnet build --configuration Release BKRCalculator
      - name: Create the package
        run: dotnet pack --configuration Release BKRCalculator -p:PackageVersion=${{ github.event.release.tag_name }}
      - name: Publish the package to GPR
        run: dotnet nuget push BKRCalculator/bin/Release/*.nupkg
